.call {
    display: none;
    flex-direction: column;
    height: 100%;
}

.call.active {display: flex;}

.call.active ~ .himself,
.call.active ~ .chat,
.call.active ~ .new-message {display: none;}

.call .timer {
    display: none;
    margin: .5em auto 0 auto;
    height: 30px;
    font-size: 1.6em;
    font-weight: lighter;
}

.call.on-call .timer,
.call.call-ended .timer {display: flex;}

.call .timer img {
    width: 30px;
    height: 30px;
}

.call .status {
    display: none;
    font-weight: lighter;
    font-size: 1.15em;
    text-align: center;
    margin: 1em auto 0 auto;
}

.call.calling       .status.calling, 
.call.incoming-call .status.incoming-call,
.call.call-canceled-by-me .status.call-canceled,
.call.call-canceled-by-him .status.call-canceled,
.call.call-denied-by-me   .status.call-denied,
.call.call-denied-by-him   .status.call-denied,
.call.on-call       .status.on-call,
.call.call-ended    .status.call-ended {display: block;}

.call .users {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 3em auto 0 auto;
}

@media (width >= 1024px ) {
    .call .users {width: 50%;}
}

.call .user img,
.call .user .camera {
    width: 150px;
    height: 150px;
}

.call .user img {border-radius: 50%;}
.call .user .camera {display: none;}

.call .user p {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.call.calling              .users .user:last-child, 
.call.incoming-call        .users .user:first-child,
.call.call-canceled-by-me  .users .user:last-child,
.call.call-canceled-by-him .users .user:first-child,
.call.call-denied-by-me    .users .user:first-child,
.call.call-denied-by-him   .users .user:last-child {display: none;}

.call .call-animation {
    display: none;
    margin: 3em auto 0 auto;
}

.call .call-animation div {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2em;
    animation: call .75s ease-in-out infinite;
}

.call .call-animation div:nth-child(1) {animation-delay: .2s;}
.call .call-animation div:nth-child(2) {animation-delay: .4s;}
.call .call-animation div:nth-child(3) {animation-delay: .6s;}
.call .call-animation div:last-child {margin-right: 0;}

@keyframes call {
    0% {transform: scale(1);}
    33% {transform: scale(1.3);}
    66% {transform: scale(1);}
    100% {transform: scale(1);}
}

.call.calling       .call-animation, 
.call.incoming-call .call-animation {display: flex;}

.call .screen-share {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0 0 0;
}

.call .screen-share .screen-wrapper {
    aspect-ratio: 16 / 9;
    max-width: 350px;
}

.call .screen-share .screen {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.call .actions {
    margin: auto auto 2em auto;
}

.call button {
    display: none;
    
    width: 50px;
    height: 50px;

    margin-right: .5em;
    border: 0;
    padding: 0;
    
    background-color: unset;
    cursor: pointer;
}

.call button img {
    width: 100%;
    height: 100%;
}

.call.calling       .actions #call-end,
.call.incoming-call .actions #call-join,
.call.incoming-call .actions #call-end,
.call.on-call       .actions #call-end,
.call.on-call       .actions #call-mute,
.call.on-call       .actions #call-camera-on,
.call.on-call       .actions #call-screen-share-on,
.call.on-call       .actions #call-fullscreen-enter {display: inline-block;}