.himself {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    position: relative;
    border-bottom: 1px solid #7f7f7f;
    margin-bottom: 20px;
}

.himself .profile-pic {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.himself .info-wrapper {
    margin: auto auto auto 1em;
    word-break: break-word;
}

.himself .info-wrapper p {
    font-style: italic;
    font-size: 0.9em;
}

.himself .actions {
    margin: auto;
}

.himself .actions button {
    border: 0;
    padding: 0;
    background-color: unset;
    width: 45px;
    height: 45px;
    margin-right: .5em;
    cursor: pointer;
}

.himself .actions button img {
    width: 100%;
    height: 100%;
}

.himself .dropdown {
    top: 15px;
    right: 5px;
}

.chat ul {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 100%;
    max-height: 500px;
    width: 100%;
    margin: 0;
}

.message-card {
    display: flex;
    margin-bottom: 1em;
}

.message-card.him {
    flex-direction: row-reverse;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
}

.message-card>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 .75em;
}

.message-card .message-wrapper {
    min-width: 200px;
    padding: .75em 1.25em;

    background: rgba(24, 24, 16, .2);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgb(46 54 68 / 3%);
    
    border-radius: 25px;
    border-bottom-left-radius: 0;
}

.message-card.him .message-wrapper {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
}

.message-card .info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.message-card .info>* {
    margin: auto 0;
}

.message-card .pseudo {
    margin: 0 auto 0 0;
    font-weight: bold;
}

.message-card .date {display: flex;}

.message-card .date p {
    margin: 0;
    color: #dfd7d5;
    font-weight: lighter;
    font-style: italic;
}

.message-card .date img {
    width: 20px;
    height: 20px;
    margin: 0 .25em;
    filter: brightness(0) saturate(100%) invert(94%) sepia(13%) saturate(90%) hue-rotate(325deg) brightness(93%) contrast(89%);
}

.message-card .delete-message {
    margin-left: .25em;
    border: 0;
    padding: 0;
    background: unset;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform .2s;
    filter: brightness(0) saturate(100%) invert(8%) sepia(39%) saturate(7496%) hue-rotate(1deg) brightness(93%) contrast(118%);
}

.message-card .delete-message:hover,
.message-card .delete-message:focus,
.message-card .delete-message:active {
    filter: brightness(0) saturate(100%) invert(8%) sepia(67%) saturate(7492%) hue-rotate(359deg) brightness(91%) contrast(108%);
    transform: scale(1.1) rotate(3deg);
}

.message-card.him .delete-message {display: none;}

.message-card .delete-message img {
    width: 100%;
    height: 100%;
}

.message-card .message {
    white-space: pre-wrap;
    overflow-wrap: break-word;

}

.message-card .message p {margin: 0;}

.new-message {
    display: flex;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    background-color: rgba(0, 0, 0, .3);
}

.new-message textarea,
.new-message button {
    border: 0;
    background-color: unset;
    padding: 0;
}

.new-message .textarea-wrapper {
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, .3);
    position: relative;
    width: calc(100% - 50px);
}

.new-message textarea {
  display: block;
  width: 100%;
  min-height: 75px;
  max-height: 250px;
  margin-bottom: 3px;
  padding: 1em;
  overflow-y: auto;
  line-height: 20px;
  resize: none;
}

.new-message .placeholder {
    position: absolute;
    color: #AAA;
    top: 14px;
    left: 16px;
    border-radius: 8px;
    transition: top .2s ease, left .2s ease;
}

.new-message textarea.active + .placeholder {
    top: -10px;
    left: 0;
    padding: .15em .3em;
    background-color: #aa00ff;
    color: white;
}

.new-message .bar {
    width: 0;
    height: 3px;
    background: #aa00ff;
    margin: auto;
    transition: all .3s ease;
}

.new-message textarea.active ~ .bar {width: 100%;}

.new-message .button-wrapper {
    width: 50px;
    display: flex;
}

.new-message button {
    transform: rotate(-45deg);
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: auto;
}

.new-message button img {
    width: 100%;
    height: 100%;
}