body>main {
    max-width: 1200px;

    border-radius: 2em 0 0 2em;
    background: rgba(24, 24, 16, .2);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

section {
    padding: .5em;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #be9788;
}

section>ul {
    list-style: revert;
    padding-left: revert;
}

section:first-child {
    border-bottom: 1px solid #7f7f7f;
    position: sticky;
    top: 0em;
    box-shadow: 0px 3px 20px -2px black;
    max-height: 300px;

    transition: max-height .25s ease-out;
}

section:first-child h2 {
    font-size: 1.75em;
    height: 30px;
    margin: auto;
}

.section-displayer {
    position: absolute;
    top: 7px;
    right: 17px;
    
    border: 0;
    padding: 0;
    background-color: unset;

    font-size: 2em;
    color: #363636;
    transform: rotate(-90deg);

    transition: transform .25s ease-out;
}


section.active {
    max-height: 50px;
    overflow: hidden;
}
section.active .section-displayer {transform: rotate(0);}

section:first-child li {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: .5em;
}
section:first-child li:last-child {margin-bottom: 0;}


section:first-child a,
section:first-child a:hover,
section:first-child a:active,
section:first-child a:focus {
    text-decoration: none;
    color: black;
}


section:last-child h2 {
    font-size: 1.8em;
}

article {position: relative;}

section:last-child li::marker,
section:last-child h3 {
    font-size: 1.5em;
    font-weight: bold;
}

section:last-child li p {font-size: 1.1em;}

.date {display: flex;}

.date img {
    width: 20px;
    height: 20px;
    margin-right: 0.25em;
    filter: brightness(0) saturate(100%) invert(94%) sepia(13%) saturate(90%) hue-rotate(325deg) brightness(93%) contrast(89%);
}

.date p {
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

@media (width >= 1024px ) {
    section {background-color: unset;}

    section:first-child {
        width: 30%;
        border-right: 1px solid #7f7f7f;
        border-bottom: 0;
        max-height: unset;
        box-shadow: unset;
    }

    section:first-child h2 {display: none;}
    
    section:last-child {
        width: 70%;
        padding-right: 1em;
    }

    .section-displayer {display: none;}

    article .dropdown>button {display: none;}
    
    article .dropdown.active>button,
    article:hover .dropdown>button,
    article:active .dropdown>button,
    article:focus-within .dropdown>button {display: block;}

}