<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Media sharer</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% block stylesheets %}{% endblock %}

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap" rel="stylesheet">

        {# ! DEV ENV #}
        {% if app.environment is same as('dev') %}
            <style>
                .sf-toolbar {position: absolute;}
            </style>
        {% endif %}
        {# ! DEV ENV #}
    </head>
    <body>
        <h1><a href="{{ path('app_main_home') }}">Media sharer V1</a></h1>

        {% block body %}{% endblock %}
        {% include "_partials/_footer.html.twig" %}
        {% include "_partials/_up_button.html.twig" %}

        <script src="{{ asset('assets/js/main.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
